:root {
  --bd-color: rgb(0, 0, 0);
  --layout-gap: 2.5rem;
  --padding: 1.5rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


.layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: var(--layout-gap);
  height: 100vh;
  padding: var(--layout-gap);
}

aside {
  overflow: auto;
}

.card {
  padding: var(--padding);
  border: 1px solid var(--bd-color);
  cursor: pointer;
}

.card:not(:last-child) {
  margin-bottom: var(--padding);
}

.deets {
  border: 1px solid var(--bd-color);
  padding: var(--padding);
}
